/* Seperator */
.line {
  background-color: rgb(226, 226, 226);
  height: 5px;
}

/* Top banner */
.Banner {
  background-image: url("../../../img/banner-bg22.jpg");
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
}
.FansText {
  color: white;
  text-align: center;
  font-size: 5rem;
  margin: 0;
}
.RaterText {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 5rem;
  margin: 0;
}

/* Team banner */
.TeamBanner {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
}
.TeamText {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

/* Player banner */
.PlayerBanner {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
}
.PlayerText {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 3rem;
  margin: 0;
}


/* Player banner */
.LeagueBanner {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
}
.LeagueText {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

/* carousel */
.team-carousel {
  padding: 0 2.5rem;
}
.team-item {
  width: 15rem;
  height: 15rem;
  justify-content: center;
}
.team-item p {
  text-align: center;
}
.team-item img {
  width: 10rem;
  height: 10rem;
  padding-left: 4.5rem;
}

.player-carousel {
  padding: 0 2.5rem;

}
.player-item {
  width: 15rem;
  height: 15rem;
  justify-content: center;
}
.player-item p {
  text-align: center;
}

.player-item img {
  max-width: 7.5rem;
  max-height: 10rem;
  padding-left: 7.6rem;
}